main {
    width: 30rem;
    margin: 0 auto;
}

.h1Add {
    color: blue;
}

.pAdd {
    font-weight: bold;
    background-color: cadetblue;
}

.psAdd {
    color: aqua;
    font-size: 3rem;
}

.classUl {
    font-style: italic;
}

.fullfiled {
    background-color: green;
    color: aliceblue;
}

.failed {
    background-color: red;
    color: aliceblue;
}
